:root {
  --cells-color: #f3df7a;
}

.App {
  display: flex;
  width: 90vh;
  height: 90vh;
  margin: auto;
  margin-top: 5vh;
  border: 1px solid gold;
  border-radius: 15%;
  justify-content: center;
  justify-items: center;
  align-items: center;
  align-content: center;
  flex-direction: column;
}

.App-header {
  margin-top: 10px;
  border-bottom: 1px solid #e9d8a6;
  width: 76%;
  height: 50px;
  padding: 0px;
  background-color: none;
  color: #FFC300;
  text-align: center;
  font-size: 30px;
}

.App-Main {
  width: 70vh;
  height: 75vh;
  /* border: 1px solid red; */
}

.Player-Display {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  flex-direction: row;
}

.Player-Turn {
  padding: 0;
  margin: 0;
  height: 4vh;
  margin-top: 5px;
  color: white;
  text-align: center;
  display: contents;
}

.Player-Img {
  height: 4vh;
  display: block;
  background-color: #f3df7a;
  display: contents;
}

.Player-Img img {
  padding: 0;
  margin: 0;
  border: 0;
  height: 4vh;
  background-color: #6d6d6d2d;
  margin-left: 11px;
}

.Tablero {
  display: grid;
  width: 100%;
  height: 70vh;
  background-color: #0035667c;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-column-gap: 5px;
  grid-row-gap: 5px;
}

#div1 {
  grid-area: 1 / 1 / 2 / 2;
  background-color: var(--cells-color);
}

#div2 {
  grid-area: 1 / 2 / 2 / 3;
  background-color: var(--cells-color);
}

#div3 {
  grid-area: 1 / 3 / 2 / 4;
  background-color: var(--cells-color);
}

#div4 {
  grid-area: 2 / 1 / 3 / 2;
  background-color: var(--cells-color);
}

#div5 {
  grid-area: 2 / 2 / 3 / 3;
  background-color: var(--cells-color);
}

#div6 {
  grid-area: 2 / 3 / 3 / 4;
  background-color: var(--cells-color);
}

#div7 {
  grid-area: 3 / 1 / 4 / 2;
  background-color: var(--cells-color);
}

#div8 {
  grid-area: 3 / 2 / 4 / 3;
  background-color: var(--cells-color);
}

#div9 {
  grid-area: 3 / 3 / 4 / 4;
  background-color: var(--cells-color);
}

.Circulo {
  background-image: url("../public/assets/img/icons/circle.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
}

.Cruz {
  background-image: url("../public/assets/img/icons/cruz.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
}

.Error {
  background-color: red !important;
}

.Cuadro-Ganador {
  width: 80vw;
  height: 70vh;
  position: fixed;
  background-color: #fada7a;
  border: 1vh solid #f7ce02;
  border-radius: 25px;
  margin-left: 0px;
  align-self: normal;
  justify-self: center;
}

.Ganador {
  width: 100%;
  height: 45%;
  text-align: center;
  font-size: 9vw;
  padding-top: 5%;
}

.Reiniciar {
  height: 40%;
  width: 90%;
  margin-left: 5%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 9vh;
  font-family: 'Courier New', Courier, monospace;
  font-weight: 600;
}

.Reiniciar:hover {
  background-color: #f7c73948;
  cursor: pointer;
}

.Reiniciar:active {
  border: 1px solid red;
}